<div class="component-historyList">
   <table mat-table [dataSource]="data.request.data" class="mat-elevation-z8">


     <ng-container matColumnDef="Id" >
       <th mat-header-cell *matHeaderCellDef> Id </th>
       <td mat-cell *matCellDef="let element"> {{element.id }} </td>
     </ng-container>


     <ng-container matColumnDef="Thema">
       <th mat-header-cell *matHeaderCellDef> Thema </th>
       <td mat-cell *matCellDef="let element">
         {{element.headline}}
       </td>
     </ng-container>

     <ng-container matColumnDef="Gewichtung">
       <th mat-header-cell *matHeaderCellDef> Multiplikator </th>
       <td mat-cell *matCellDef="let element">
         {{element.rating}}
       </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>

 </div>
