@import '../../../theme.scss';

table {
  width: 100%;
  height: 100%;

  box-shadow: none;

  th {
    padding: 0 $spacer*2;
  }

  td {

    padding: 0 $spacer*2;

    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
    white-space: nowrap;


    &.angular {
      background-color: lighten($color-angular, 25);
      color: darken($color-angular, 20);
    }
    &.vue {
      background-color: lighten($color-vue, 25);
      color: darken($color-vue, 20);
    }
    &.react {
      background-color: lighten($color-react, 25);
      color: darken($color-react, 20);
    }
    &.preact {
      background-color: lighten($color-preact, 25);
      color: darken($color-preact, 20);
    }
    &.svelte {
      background-color: lighten($color-svelte, 25);
      color: darken($color-svelte, 20);
    }
    &.ember {
      background-color: lighten($color-ember, 25);
      color: darken($color-ember, 20);
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      flex: 1;

      padding: $spacer 0;

      span {
        font-weight: bold;
        padding-top: $spacer/2;
      }
    }

    img {
      max-height: 25px;
    }

    mat-icon {
      padding-top: 4px;
      color: $color-grey-lighter;

      &.check {
        color: $color-secondary;
      }
    }

    button {
      mat-icon {
        padding: 0;
        color: $color-primary;
      }
    }
  }

  tr {
    &:nth-child(even) {
      background-color: $color-grey-lightest;
    }
  }
}

::ng-deep {
  .mat-dialog-container {
    padding: 0;
  }
}
