<div class="component-model">

  <mat-card>

    <mat-card-header>

      <span>Berechnungs-Formel</span>

    </mat-card-header>

    <mat-card-content>

      <img src="assets/img/png/formel.png" alt="formel" />

      <p>
Das Ergebnis <span>E</span> steht für die Durchschnittsnote eines Frameworks (<span>x</span>). <span>N</span> ist die Menge aller Noten, während <span>n</span> die einzelnen Noten im Schulnoten-System (also zwischen 1 und 6) darstellt. Jeder Vergleichsparameter wird pro Front-End-Framework benotet. Die Menge aller Gewichtungen wird mit <span>G</span> definiert, wobei <span>g</span> für die einzelnen Gewichtungen der Vergleichsparameter steht. Dabei kann <span>g</span> die Werte 0, 1, 2, 3, 5, 8 oder 21 annehmen. Diese Werte bilden eine Teilmenge (<span>F<sub>i</sub></span>) der Fibonacci-Folge ab. Die Gesamtanzahl der Vergleichsparameter wird mit <span>z</span> angegeben.
      </p>


    </mat-card-content>


    <mat-card-footer>


    </mat-card-footer>

  </mat-card>

</div>
