@import '../../../../theme.scss';

.component-gewichtungDialog {

  padding: $spacer*4;

  p {
    padding: $spacer 0;
    line-height: 1.6;

    span {
      color: $color-grey;
      font-weight: bold;
    }
  }

  .link {
    color: $color-primary;
    font-weight: bold;
    cursor: pointer;
  }
}

::ng-deep {
  .mat-dialog-container {
    padding: 0;
  }
}
