<div class="component-stepper-question">
  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepperQuestion>
    <mat-step *ngFor="let step of amount; index as i;">
      <div class="component-stepper-question-id">
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>star_border</mat-icon>
        </button>
        <span>Question ID: 1.3</span>
      </div>
      <p>Innerhalb unserer App werden komplexe Berechnungen im Front-End durchgeführt. Die Performance spielt dabei eine wesentliche Rolle.</p>
    </mat-step>
  </mat-horizontal-stepper>
</div>
