@import '../../../theme.scss';

.toolbar {
  color: $color-grey-darker;
  font-weight: 300;
  border-bottom: $border-light;
  background-color: white;

  button {
    img {
      max-width: $spacer*2;
      max-height: $spacer*2;
      border-radius: 50%;
      margin-right: $spacer/1.5;
    }
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: $spacer;

  img {
    max-width: $spacer*2;
    max-height: $spacer*2;

    margin-right: $spacer;
  }

  span {
    font-size: 24px;
    font-family: 'Lato', sans-serif;

    &:nth-child(2) {
      font-weight: 900;
    }

    &:nth-child(3) {
      font-weight: 400;
    }
  }
}
