@import '../../../../theme.scss';

.component-infoContainer {

  mat-card {
    padding: $spacer*4;
    width: 804px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-card-header {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0 $spacer;

      span {
        display: flex;
        align-items: center;

        font-size: 2em;
        font-weight: bold;

        button {
          margin-left: $spacer;
        }
      }
    }

    mat-card-content {
      padding: $spacer;
      padding-bottom: 0;
      margin: 0;

      img {
        max-height: 200px;
      }

      p {
        line-height: 1.6;
        padding: $spacer*4 0;
      }

      .results {
        display: flex;

        &-frameworks {
          display: flex;
          flex-direction: column;
        }

        app-winner-box {
          width: 100%;
          padding-left: $spacer*2;
        }
      }
    }

    mat-card-footer {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 $spacer*1.5;
      padding-bottom: $spacer;

    }
  }

}

::ng-deep .mat-card-header-text {
  display: none;
}
