@import '../../../theme.scss';

.component-navigation {
  padding: $spacer*2 0;

  a {
    margin-right: $spacer;
    color: $color-primary;

    mat-icon {
      margin-right: $spacer/2;
    }

    &.active-link {
      background-color: $color-primary-lightest;
    }
  }
}
