@import '../../../theme.scss';

mat-tab-group {
  .navLogo {
      max-width: 25px;
      max-height: 25px;
  }

  padding: $spacer*4;
}

.component-editDialog {
  height: 100%;
  width: 100%;

  h1 {
    padding-top: $spacer*2;
  }

  .content {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    mat-slide-toggle {
      padding: $spacer $spacer $spacer*3 $spacer;
    }
  }

  .actions {
    margin: 0;
  }

}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 50px!important;
 padding: 3px!important;
 margin: 3px!important;
}

::ng-deep {
  .mat-dialog-container {
    padding: 0;
  }
}
