<div *ngIf="!user$.loading" class="component-login">
  <div @bounce class="component-login-container">
    <div class="component-login-container-logo">
      <img src="../../assets/img/svg/frontway.svg" alt="logo" />
      <div>
        <span>Front</span>
        <span>Select</span>
      </div>
    </div>
    <!-- State: Logged in -->
    <div *ngIf="user$.uid === ''" class="component-login-container-form">
      <mat-form-field class="component-login-container-form-field">
        <input matInput placeholder="E-Mail" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field class="component-login-container-form-field">
        <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="component-login-container-buttonList">
        <button mat-button [disabled]="email === '' || password === ''" (click)="loginUserNormal()">
          <mat-icon svgIcon="frontway" aria-hidden="false" aria-label="frontway icon"></mat-icon>
          <span>Login</span>
        </button>
        <button mat-button (click)="loginUser()">
          <mat-icon svgIcon="google" aria-hidden="false" aria-label="google icon"></mat-icon>
          <span>Google Login</span>
        </button>
        <!-- <button mat-button>
          <mat-icon svgIcon="github" aria-hidden="false" aria-label="github icon"></mat-icon>
          <span>GitHub Login</span>
        </button> -->
      </div>
      <!-- <div class="component-login-container-footer">
        <a routerLink="/survey">Forgot password?</a>
        <a routerLink="/survey">Sign up now</a>
      </div> -->
    </div>
    <!-- State: Not logged in -->
    <div *ngIf="user$.uid !== ''" class="component-login-container-form">
      <div class="component-login-container-user">
        <img [src]="user$.photoURL" (error)="handleImgError($event)"/>
        <div>
          <span>Logged in as</span>
          <span>{{ user$.displayName }}</span>
        </div>
      </div>
      <div class="component-login-container-buttonList">
        <span *ngIf="counter > 1">Forwarding in <b>{{ counter }}</b> seconds</span>
        <span *ngIf="counter === 1">Forwarding in <b>{{ counter }}</b> second</span>
        <button class="logout" color="warn" mat-button (click)="logoutUser()">
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>
