@import '../../../theme.scss';

.component-login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $spacer*2 $spacer*4 $spacer*4 $spacer*4;

    &-logo {
      img {
        height: $spacer*8;

        margin-bottom: $spacer*2;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-field {
        width: 400px;
      }

      button {
        margin-top: $spacer*2;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;

      margin-top: $spacer*2;

      color: grey;
      font-size: 12px;
    }
  }
}
