@import '../../../../theme.scss';

.component-questionContainer {

  mat-card {
    padding: $spacer*4;
    width: 804px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    mat-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 $spacer;

      div {

        &.left {
          display: flex;
          justify-content: center;

          div {
            &.info {
              display: flex;
              flex-direction: column;
              justify-content: center;

              margin-left: $spacer;

              span {

                &:first-child {
                  font-size: 1.2em;
                  font-weight: normal;
                }

                &:nth-child(2) {
                  font-size: 0.8em;
                  color: $color-grey;
                }
              }
            }
          }
        }

        &.right {

          span {
            padding-top: 3px;
          }

          button {

            mat-icon {
              margin-top: -3px;
            }
          }
        }
      }

    }

    mat-card-content {
      padding: $spacer;
      line-height: 1.6;

      span {
        color: $color-grey-light;
      }

      p {

        &.questionText {
          padding: $spacer*4 0;
          font-size: 2em;
          font-weight: bold;
        }

        &.informationText {
          padding-top: $spacer;
        }

      }

    }

    mat-card-footer {
      display: flex;
      flex-direction: column;

      padding: 0 $spacer*1.5;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          button {
            height: 80px;
            width: 120px;
          }
        }

        &:nth-child(2) {
          margin-top: $spacer*2;
        }

        button {
          margin: $spacer;
          padding: $spacer*1.5;
          white-space: pre-wrap !important;
          font-size: 0.7em;
          line-height: 16px;

          &.rated {
            &-0 {
              background-color: $color-grey-light;
            }
            &-1 {
              background-color: $color-amber;
            }
            &-2 {
              background-color: $color-orange;
            }
            &-3 {
              background-color: $color-yellow;
            }
            &-5 {
              background-color: $color-lime;
            }
            &-8 {
              background-color: $color-lightGreen;
            }
          }
        }

        mat-checkbox {
          font-size: 0.7em;
          font-weight: 500;
        }

        .mat {
            &-0 {
              background-color: none;
              border-bottom: 5px solid $color-grey-light;
            }
            &-1 {
              background-color: none;
              border-bottom: 5px solid $color-amber;
            }
            &-2 {
              background-color: none;
              border-bottom: 5px solid $color-orange;
            }
            &-3 {
              background-color: none;
              border-bottom: 5px solid $color-yellow;
            }
            &-5 {
              background-color: none;
              border-bottom: 5px solid $color-lime;
            }
            &-8 {
              background-color: none;
              border-bottom: 5px solid $color-lightGreen;
            }
            &-21 {
              background-color: none;
              border-bottom: 5px solid $color-primary;
            }
        }

      }

    }

  }

}

::ng-deep .mat-card-header-text {
  display: none;
}
