<div class="component-questionContainer">

  <mat-card *ngIf="selectedQuestion">

    <mat-card-header>

      <div class="left">

        <div mat-card-avatar class="avatar">
          <img src="../../assets/img/svg/idea.svg" alt="question" />
        </div>

        <div class="info">
          <span>{{ selectedQuestion.headline }}</span>
          <span>#{{ selectedQuestion.id }}</span>
        </div>

      </div>

      <div class="right">

        <button mat-icon-button aria-label="navigate_before" matTooltip="Vorherige Frage" (click)="changeQuestion('before')" [disabled]="selectedId === 1">
          <mat-icon>navigate_before</mat-icon>
        </button>

        <span>{{ selectedId }} / {{ allQuestions.length }}</span>

        <button mat-icon-button aria-label="navigate_next" matTooltip="Nächste Frage" (click)="changeQuestion('next')" [disabled]="selectedId === allQuestions.length">
          <mat-icon>navigate_next</mat-icon>
        </button>

      </div>

    </mat-card-header>

    <mat-card-content>

      <p class="questionText" [innerHTML]="selectedQuestion.question | highlight : 'unwichtig'"></p>

      <span>Hilfestellung</span>

      <p class="informationText">
        {{ selectedQuestion.help }}
      </p>

    </mat-card-content>

    <mat-card-footer>

      <div>
        <button mat-button [class]="currentRating === 1 ? 'rated-1' : ''" [disabled]="activeJoker && !selectedQuestion.reverse" (click)="handleRating(1)" color="1">Stimme voll dagegen</button>
        <button mat-button [class]="currentRating === 2 ? 'rated-2' : ''" [disabled]="activeJoker" (click)="handleRating(2)" color="2">Stimme eher dagegen</button>
        <button mat-button [class]="currentRating === 3 ? 'rated-3' : ''" [disabled]="activeJoker" (click)="handleRating(3)" color="3">Ist mir egal</button>
        <button mat-button [class]="currentRating === 5 ? 'rated-5' : ''" [disabled]="activeJoker" (click)="handleRating(5)" color="5">Stimme eher zu</button>
        <button mat-button [class]="currentRating === 8 || currentRating === 21? 'rated-8' : ''" [disabled]="activeJoker && selectedQuestion.reverse" (click)="handleRating(8)" color="8">Stimme voll zu</button>
      </div>

      <div>
        <button mat-button (click)="handleRating(0)">Überspringen</button>
        <mat-checkbox [(ngModel)]="activeJoker" (click)="checkClick()" [matBadge]="joker" matBadgePosition="after" matBadgeColor="accent">Besondere Gewichtung</mat-checkbox>
      </div>

    </mat-card-footer>

  </mat-card>

</div>
