<div class="component-questionContainer">

  <mat-card>

    <mat-card-header>

      <div class="left">

        <div mat-card-avatar class="avatar">
          <img src="../../assets/img/svg/idea.svg" alt="question" />
        </div>

        <div class="info">
          <span>Lernkurve</span>
          <span>#008</span>
        </div>

      </div>

      <div class="right">

        <button mat-icon-button aria-label="navigate_before">
          <mat-icon>navigate_before</mat-icon>
        </button>

        <span>1 / 13</span>

        <button mat-icon-button aria-label="navigate_next">
          <mat-icon>navigate_next</mat-icon>
        </button>

      </div>

    </mat-card-header>

    <mat-card-content>

      <p class="questionText">
        Es ist mir sehr wichtig, dass die Lernkurve eines Frameworks flach verläuft.
      </p>

      <span>Hilfestellung</span>

      <p class="informationText">
        Die Lernkurve gibt an, wie schnell sich ein Entwickler innerhalb eines bestimmten Komplexitätsgrades mit einem Framework zurecht findet. Innerhalb der Software-Branche wird eine Lernkurve als steil bezeichnet, wenn das Lernen eines bestimmten Tools schwierig und mühsam ist. Eine flache Lernkurve ergibt sich für effizientes und problemloses Lernen.
      </p>

    </mat-card-content>

    <mat-card-footer>

      <button mat-flat-button>Überspringen</button>
      <button mat-flat-button color="1">Stimme voll dagegen</button>
      <button mat-flat-button color="2">Stimme eher dagegen</button>
      <button mat-flat-button color="3">Ist mir egal</button>
      <button mat-flat-button color="5">Stimme eher zu</button>
      <button mat-flat-button color="8">Stimme voll zu</button>
      <button mat-flat-button matBadge="3" matBadgePosition="after" matBadgeColor="primary">Besonders wichtig</button>

    </mat-card-footer>

  </mat-card>

</div>
