@import '../../../theme.scss';


.component-editFramework {
  height: 100%;
  width: 100%;

  h1 {
    padding-top: $spacer*2;
  }

  .content {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    mat-slide-toggle {
      padding: $spacer $spacer $spacer*3 $spacer;
    }
  }

  .actions {
    margin: 0;
  }

}
